<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Services</span> 
    <a class="link link-hover">Branding</a>
  </div> 
  <div>
    <span class="footer-title">Company</span> 
    <a class="link link-hover">About us</a>
  </div> 
  <div>
    <span class="footer-title">Legal</span> 
    <a class="link link-hover">Terms of use</a>
  </div>
</footer>
